body {
  background: #000;
}

.container {
	background: url('../images/bg.jpg') no-repeat center;
  padding-top: 5px;

}

.bottle {
	padding-left: 7em;
}

.promo_items {
  padding-top: 6em;
  padding-left: 4em;
}

.home_message {
  padding-top: 2em;
  padding-left: 4em;
}
.mechanics_text {
  padding-top: 8em;
  padding-left: 4em;
}

.uploadForm{
  padding-top: 7em;
  padding-left: 10em;
}

#nav {
  display:block;
}

#nav ul {
  float: left;
  list-style:none;
  height:100px;
  padding-left: 0em;
}

#nav ul li {
	display:inline-block;
  margin-left: 2em;
  width: 145px;
  height: 143px;
}

#nav ul li a {
  text-align: right;
  display:block;
  padding: 0;
}

.modal-body {
  background: #000;
}
.modal-header {
  border:none;
  background: #000;
  padding-left: 0em;
}

#registration label {
  color: #bd7302;
  padding-right: 4em;
}
#registration {
  font-size: 14px;
}

#reg_submit {
  font-size: 24px;
  color: #fff;
  background: #bd7302;
  width: 13em;
}

.fileUpload {
  position: relative;
  overflow: hidden;
  margin: 10px;
  font-size: 24px;
  color: #fff;
  background: #bd7302;
  width: 13em;

}

.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  opacity: 0;
}

#txtFileName {
  font-size: 24px;
  width: 18em;
  height: 2em;
  margin-left: -2em;
  margin-top: 1em;
}
#caption {
  width:30em;
  height:13em;
  text-align: center;
  word-wrap: 
} 

.uploadDiv {
  padding-left: 4em;
}

.uploadDiv h3 {
  font-size: 24px;
  color: #bd7302;
  margin-bottom: 1em;
  padding-left: 2em;
}

#preview {
  font-size: 24px;
  color: #fff;
  background: #bd7302;
  width: 13em;
}

.previewDiv {
  margin-top: 18em;
  padding-left: 5em;
}

.arrowUp {
  padding-right:77%;
  padding-bottom:12em;
    position: absolute;
    margin: auto;
    color: #ffff00;
    top: 0; bottom: 0;
    left: 0; right: 0;
    width: 40px;
    height: 40px;
    font-size: 34px;
    line-height: 40px;
    -webkit-animation: bounce 2s infinite ease-in-out;
}
@-webkit-keyframes bounce {
  0%, 20%, 60%, 100%  { -webkit-transform: translateY(0); }
  40%  { -webkit-transform: translateY(20px); }
  80% { -webkit-transform: translateY(10px); }
}

