body {
  background: #000;
}

.container {
	background: url('../images/bg.jpg') no-repeat center;
  padding-top: 5px;

}

.bottle {
	padding-left: 7em;
}

.promo_items {
  padding-top: 6em;
  padding-left: 4em;
}

.home_message {
  padding-top: 6em;
  padding-left: 4em;
}

#nav {
  display:block;
}

#nav ul {
  float: left;
  list-style:none;
  height:50px;
  padding-left: 0em;
}

#nav ul li {
	display:inline-block;
  margin-left: 2em;
  width: 145px;
  height: 143px;
}

#nav ul li a {
  text-align: right;
  display:inline-block;
  padding: 0;
}

.modal-body {
  background: #000;
}
.modal-header {
  border:none;
  background: #000;
  padding-left: 0em;
}

#registration label {
  color: #bd7302;
  padding-right: 4em;
}
#registration {
  font-size: 14px;
}

#reg_submit {
  font-size: 24px;
  color: #fff;
  background: #bd7302;
  width: 13em;
}

